<div class="columns is-mobile is-centered">
  <div class="column has-text-centered">
    <h1 class="title">Welcome to Brite Event!</h1><br>
    <% if logged_in? %>
        <%= link_to 'Create event!' , create_event_path, class: "button"%><br>
        <p>Or <%= link_to "Browse Events", events_path %></p>
    <% else %>
        <%= link_to 'Sign Up!', signup_path, class: "button has-text-centered" %>
    <% end %>
  </div>
</div>