<div class="row">
    <div class="col s12">
        <h1>Welcome to Brite Event!</h1>
    </div>
</div>
<div class="row">
    <div class="col s12">
      <% if logged_in? %>
        <%= link_to 'Create event!' , create_event_path, class: "waves-effect waves-light btn-large"%><br>
          <p>Or <%= link_to "Browse Events", events_path %></p>
      <% else %>
        <%= link_to 'Sign Up!', signup_path, class: "waves-effect waves-light btn-large" %>
      <% end %>
    </div>
</div>