<div class="columns is-centered">
    <div class="column has-text-centered is-narrow">
      <h1 class="title">Sign in</h1>
      <%= form_for(:session, url: login_path, :html => {class: "column has-text-centered"} ) do |f| %>
        <%= f.label :email, class: 'label has-text-left' %>
        <%= f.text_field :email, class: 'input', size: 35%>

        <%= f.submit 'Sign in!', class: "button" %>
      <% end %>
    </div>
</div>