<div class="columns">
    <div class="column">
        <h1>Sign in</h1>
    </div>
    <%= form_for(:session, url: login_path, :html => {class: "column"} ) do |f| %>
        <div class="columns">
            <div class="column">
                <%= f.label :email %>
                <%= f.text_field :email, class: 'form_control' %>
            </div>
        </div>
        
        <%= f.submit 'Sign in!', class: "waves-effect waves-light btn-large" %>
    <% end %>
    </div>
</div>