<div class='row'>
    <div class='col s2'>
        <h3><%= @user.name.capitalize %></h1>
    </div>
    <div class='col s10'>
        <h3>Events:</h1>
        <p>No events for this user!</p>
    </div>
</div>