@import "materialize/components/color";
$primary-color: #247BA0 !default;
$secondary-color: #F25F5C !default;
@import 'materialize';

/* Typography */
h6 {
  margin-top: 48px;
}

/* User Events */
ul {
  li#event-description{
    float: left;
  }

  li#event-date-time{
    float: right;
    span {
      color: #bdbdbd;
    }
  }

}

/* Buttons */

#create-event {
    margin: 8px;
}

/* Nav */

nav .nav-wrapper {
    padding-left: 15px;
}


/* Flash */

.success {
    background-color: #70C1B3;
}

.danger {
   background-color: #ff6e40; 
}

.warning {
    background-color: #FFE066;
}