@import "bulma";

/* Navbaar */
.navbar{
  box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1)
}

/* Columns */

.columns {
  margin: 8px 0;
}

/* Typography */
h6 {
  margin-top: 48px;
}

/* User Events */
ul {
  li#event-description{
    float: left;
  }

  li#event-date-time{
    float: right;
    span {
      color: #bdbdbd;
    }
  }

}

/* Buttons */

#create-event {
    margin: 8px;
    float: right;
}

.button {
  margin-top: 8px;
}


/* Flash */

.success {
    background-color: #70C1B3;
}

.danger {
   background-color: #ff6e40; 
}

.warning {
    background-color: #FFE066;
}